<!doctype html>
<!--suppress ALL -->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width"
        />
        <meta name="theme-color" content="#000000" />

        <link rel="icon" type="image/png" href="src/img/favicon.png" />

        <title><%- title %> - <%- version %></title>
        <style>
            body {
                overflow-y: scroll;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
