[submodule "ui/resources/JetBrainsMono"]
	path = ui/resources/JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono
[submodule "internal/ui/resources/JetBrainsMono"]
	path = internal/ui/resources/JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono
